* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav a {
  text-decoration: none;
}

.mosaicos img {
  width: 100%;
  height: auto;
}
.mosaicos p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.mosaicos > div {
  width: 30%; /* CLAVE */
  border: 4px solid red;
  padding: 1em;
  margin: 1em;
}

.mosaicos {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
